<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Recent Confession</title>
<link rel="stylesheet" type="text/css" href="/stylesSubmission.css">
<link rel="stylesheet" type="text/css" href="/navbar.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/feed">Confessions</a>
    <a href="/talents">Talents</a>
    <a href="/deleteconfession">Delete Confession</a>
  </nav>
  <br> <br>
<div class="container">
  <h4>
    Thank You for Sending Your Confession
  </h4>
  <div>
    Copy this <b>Confession code</b> if you later decide to delete your confession
  </div>
  <div>
    <h4> Confession Code </h2> <p class= "object-code"><%= confession._id %> </p>
  </div>
  <div>
    <h4>Confession</h2>
  <div class="confession-box">
     <%= confession.confession %>
  </div>
</div>
<br>
<form class="form" action="/"> 
  <button type="submit" class="mainpage">Confess again</button>
</form>
</div>
</div>
</body>
</html>